spec/fixtures/files/article_segmented/batch_topaz_times/articles/article.dtd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by blank (blank) --><!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><!ELEMENT article (header-item*, article-page+)><!ATTLIST article	unit-href CDATA #REQUIRED	classification CDATA #IMPLIED	xmlns CDATA #FIXED "http://www.iarchives.com/schema/2002/export"><!ELEMENT articles (article-ref*)><!ELEMENT header-item (#PCDATA)><!ATTLIST header-item	name CDATA #REQUIRED	value CDATA #IMPLIED><!ELEMENT nodes (n*)><!ELEMENT article-page (article-clipping+)><!ATTLIST article-page	href CDATA #REQUIRED><!ELEMENT article-ref EMPTY><!ATTLIST article-ref	href CDATA #REQUIRED><!ELEMENT n (r*, o+)><!ATTLIST n	i CDATA #REQUIRED	n CDATA #IMPLIED><!ELEMENT article-clipping (article-element+)><!ATTLIST article-clipping	image-file CDATA #REQUIRED	index CDATA #IMPLIED	l CDATA #REQUIRED	t CDATA #REQUIRED	r CDATA #REQUIRED	b CDATA #REQUIRED><!ELEMENT r EMPTY><!ATTLIST r	l CDATA #REQUIRED	t CDATA #REQUIRED	r CDATA #REQUIRED	b CDATA #REQUIRED><!ELEMENT o (#PCDATA)><!ATTLIST o	p CDATA #IMPLIED	c CDATA #IMPLIED	f CDATA #IMPLIED><!ELEMENT article-element (text?, zone*)><!ATTLIST article-element	type CDATA #REQUIRED><!ELEMENT text (#PCDATA)><!ELEMENT zone (zone-text?, nodes?)><!ATTLIST zone	l CDATA #REQUIRED	t CDATA #REQUIRED	r CDATA #REQUIRED	b CDATA #REQUIRED><!ELEMENT zone-text (#PCDATA)>