spec/fixtures/files/article_segmented/batch_topaz_times/unit.dtd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by blank (blank) --><!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><!ELEMENT articles (article-ref*)><!ELEMENT header-item (#PCDATA)><!ATTLIST header-item	name CDATA #REQUIRED	value CDATA #IMPLIED><!ELEMENT nodes (n*)><!ELEMENT unit (header-item*, pages, articles?)><!ATTLIST unit	collection-title CDATA #REQUIRED	xmlns CDATA #FIXED "http://www.iarchives.com/schema/2002/export"><!ELEMENT article-ref EMPTY><!ATTLIST article-ref	href CDATA #REQUIRED><!ELEMENT n (r*, o+)><!ATTLIST n	i CDATA #REQUIRED	n CDATA #IMPLIED><!ELEMENT pages (page-ref+)><!ELEMENT r EMPTY><!ATTLIST r	l CDATA #REQUIRED	t CDATA #REQUIRED	r CDATA #REQUIRED	b CDATA #REQUIRED><!ELEMENT o (#PCDATA)><!ATTLIST o	p CDATA #IMPLIED	c CDATA #IMPLIED	f CDATA #IMPLIED><!ELEMENT page-ref EMPTY><!ATTLIST page-ref	href CDATA #REQUIRED>